@use '../../styles/variables' as v;

.navbar {
  display: flex;
  gap: v.$space-md;
  padding: v.$space-md;
  border-bottom: 1px solid v.$color-border;

  a {
    text-decoration: none;
    color: v.$color-muted;
  }
}

.active {
  color: v.$color-text;
  font-weight: 600;
}
